*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 7em 0;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 70em;
}

.split {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.split > * {
  flex-basis: 30%;
  min-width: 15em;
}

.spacing>*+* {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: .5em 1.25em;
  background-color: var(--clr-accent, aqua);
  font-weight: 700;
  color: var(--clr-accent, #111);
  font-size: 1.125rem;
  text-transform: uppercase;
  border-radius: .25em;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: .9;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem).4.5rem);
  line-height: 1;
  color: #17353d;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}

.hero {
  color: gold;
  text-align: center;
  padding: 15em 0;
  background-image: url(./images/poste.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

